.icon{
&--32-angle {
background-image:url('./icons/32-angle.svg')
};
&--32-corner-radius {
background-image:url('./icons/32-corner-radius.svg')
};
&--32-link-connected {
background-image:url('./icons/32-link-connected.svg')
};
&--32-link-broken {
background-image:url('./icons/32-link-broken.svg')
};
&--32-resize_to_fit {
background-image:url('./icons/32-resize_to_fit.svg')
};
&--32-search-large {
background-image:url('./icons/32-search-large.svg')
};
&--32-adjustedit {
background-image:url('./icons/32-adjustedit.svg')
};
&--32-ellipsis {
background-image:url('./icons/32-ellipsis.svg')
};
&--32-corners {
background-image:url('./icons/32-corners.svg')
};
&--32-plus {
background-image:url('./icons/32-plus.svg')
};
&--32-minus {
background-image:url('./icons/32-minus.svg')
};
&--32-break {
background-image:url('./icons/32-break.svg')
};
&--32-hyperlink {
background-image:url('./icons/32-hyperlink.svg')
};
&--32-recent {
background-image:url('./icons/32-recent.svg')
};
&--32-line-height {
background-image:url('./icons/32-line-height.svg')
};
&--32-letter-spacing {
background-image:url('./icons/32-letter-spacing.svg')
};
&--32-paragraph-spacing {
background-image:url('./icons/32-paragraph-spacing.svg')
};
&--32-paragraph-indent {
background-image:url('./icons/32-paragraph-indent.svg')
};
&--32-effects {
background-image:url('./icons/32-effects.svg')
};
&--32-close {
background-image:url('./icons/32-close.svg')
};
&--32-page {
background-image:url('./icons/32-page.svg')
};
&--32-visibleeyeopen {
background-image:url('./icons/32-visibleeyeopen.svg')
};
&--32-hiddeneyeclosed {
background-image:url('./icons/32-hiddeneyeclosed.svg')
};
&--32-blend-emptydrop {
background-image:url('./icons/32-blend-emptydrop.svg')
};
&--32-blenddrop {
background-image:url('./icons/32-blenddrop.svg')
};
&--32-share {
background-image:url('./icons/32-share.svg')
};
&--32-plugin {
background-image:url('./icons/32-plugin.svg')
};
&--32-layout-align-left {
background-image:url('./icons/32-layout-align-left.svg')
};
&--32-layout-align-horizontal-centers {
background-image:url('./icons/32-layout-align-horizontal-centers.svg')
};
&--32-layout-align-right {
background-image:url('./icons/32-layout-align-right.svg')
};
&--32-distribute-horizontal-spacing {
background-image:url('./icons/32-distribute-horizontal-spacing.svg')
};
&--32-distribute-vertical-spacing {
background-image:url('./icons/32-distribute-vertical-spacing.svg')
};
&--32-list-detailed {
background-image:url('./icons/32-list-detailed.svg')
};
&--32-trash {
background-image:url('./icons/32-trash.svg')
};
&--32-layout-align-top {
background-image:url('./icons/32-layout-align-top.svg')
};
&--32-layout-align-vertical-centers {
background-image:url('./icons/32-layout-align-vertical-centers.svg')
};
&--32-layout-align-bottom {
background-image:url('./icons/32-layout-align-bottom.svg')
};
&--32-stroke-weight {
background-image:url('./icons/32-stroke-weight.svg')
};
&--32-library {
background-image:url('./icons/32-library.svg')
};
&--32-timer {
background-image:url('./icons/32-timer.svg')
};
&--32-community {
background-image:url('./icons/32-community.svg')
};
&--32-tidy-up-list-vertical {
background-image:url('./icons/32-tidy-up-list-vertical.svg')
};
&--32-tidy-up-list-horizontal {
background-image:url('./icons/32-tidy-up-list-horizontal.svg')
};
&--32-tidy-up-grid {
background-image:url('./icons/32-tidy-up-grid.svg')
};
&--32-arrow-left-right↔︎ {
background-image:url('./icons/32-arrow-left-right↔︎.svg')
};
&--32-arrow-up-down↕︎ {
background-image:url('./icons/32-arrow-up-down↕︎.svg')
};
&--32-bellwithdot {
background-image:url('./icons/32-bellwithdot.svg')
};
&--32-bellusedfornotifications {
background-image:url('./icons/32-bellusedfornotifications.svg')
};
&--32-megaphone3 {
background-image:url('./icons/32-megaphone3.svg')
};
&--32-layout-grid-rows {
background-image:url('./icons/32-layout-grid-rows.svg')
};
&--32-layout-grid-columns {
background-image:url('./icons/32-layout-grid-columns.svg')
};
&--32-layout-grid-uniform {
background-image:url('./icons/32-layout-grid-uniform.svg')
};
&--32-search {
background-image:url('./icons/32-search.svg')
};
&--32-return {
background-image:url('./icons/32-return.svg')
};
&--32-missing-fonts-color {
background-image:url('./icons/32-missing-fonts-color.svg')
};
&--32-missing-fonts-toolbar {
background-image:url('./icons/32-missing-fonts-toolbar.svg')
};
&--32-vector-handles {
background-image:url('./icons/32-vector-handles.svg')
};
&--32-reset-instance {
background-image:url('./icons/32-reset-instance.svg')
};
&--32-component {
background-image:url('./icons/32-component.svg')
};
&--32-frame {
background-image:url('./icons/32-frame.svg')
};
&--32-lock-unlocked {
background-image:url('./icons/32-lock-unlocked.svg')
};
&--32-lock {
background-image:url('./icons/32-lock.svg')
};
&--32-styles {
background-image:url('./icons/32-styles.svg')
};
&--32-code {
background-image:url('./icons/32-code.svg')
};
&--32-font-feature-liga {
background-image:url('./icons/32-font-feature-liga.svg')
};
&--32-font-feature-hlig {
background-image:url('./icons/32-font-feature-hlig.svg')
};
&--32-font-feature-dlig {
background-image:url('./icons/32-font-feature-dlig.svg')
};
&--32-font-feature-frac {
background-image:url('./icons/32-font-feature-frac.svg')
};
&--32-list {
background-image:url('./icons/32-list.svg')
};
&--32-grid {
background-image:url('./icons/32-grid.svg')
};
&--32-target {
background-image:url('./icons/32-target.svg')
};
&--32-font-feature-smcp {
background-image:url('./icons/32-font-feature-smcp.svg')
};
&--32-font-feature-sups {
background-image:url('./icons/32-font-feature-sups.svg')
};
&--32-font-feature-subs {
background-image:url('./icons/32-font-feature-subs.svg')
};
&--32-node-connect {
background-image:url('./icons/32-node-connect.svg')
};
&--32-rotate {
background-image:url('./icons/32-rotate.svg')
};
&--32-pencil {
background-image:url('./icons/32-pencil.svg')
};
&--32-gotoitem {
background-image:url('./icons/32-gotoitem.svg')
};
&--32-eyedropper {
background-image:url('./icons/32-eyedropper.svg')
};
&--32-font-feature-tnum {
background-image:url('./icons/32-font-feature-tnum.svg')
};
&--32-font-feature-onum {
background-image:url('./icons/32-font-feature-onum.svg')
};
&--32-play {
background-image:url('./icons/32-play.svg')
};
&--32-node-delete {
background-image:url('./icons/32-node-delete.svg')
};
&--32-warning {
background-image:url('./icons/32-warning.svg')
};
&--32-warning-light {
background-image:url('./icons/32-warning-light.svg')
};
&--32-noticeinfo {
background-image:url('./icons/32-noticeinfo.svg')
};
&--32-infoinfo {
background-image:url('./icons/32-infoinfo.svg')
};
&--32-resolve {
background-image:url('./icons/32-resolve.svg')
};
&--32-resolve-filled {
background-image:url('./icons/32-resolve-filled.svg')
};
&--32-smileyemoji {
background-image:url('./icons/32-smileyemoji.svg')
};
&--32-hyperlinkalt {
background-image:url('./icons/32-hyperlinkalt.svg')
};
&--32-animation {
background-image:url('./icons/32-animation.svg')
};
&--32-full-screen-exit {
background-image:url('./icons/32-full-screen-exit.svg')
};
&--32-scale {
background-image:url('./icons/32-scale.svg')
};
&--32-circle-with-up-arrow {
background-image:url('./icons/32-circle-with-up-arrow.svg')
};
&--32-star {
background-image:url('./icons/32-star.svg')
};
&--32-star-filled {
background-image:url('./icons/32-star-filled.svg')
};
&--32-macosfinder {
background-image:url('./icons/32-macosfinder.svg')
};
&--32-windowsfileexplorer {
background-image:url('./icons/32-windowsfileexplorer.svg')
};
&--32-folder {
background-image:url('./icons/32-folder.svg')
};
&--32-full-screen-enter {
background-image:url('./icons/32-full-screen-enter.svg')
};
&--32-navigate-to {
background-image:url('./icons/32-navigate-to.svg')
};
&--32-navigate-back {
background-image:url('./icons/32-navigate-back.svg')
};
&--32-layouthorizontal {
background-image:url('./icons/32-layouthorizontal.svg')
};
&--32-layoutvertical {
background-image:url('./icons/32-layoutvertical.svg')
};
&--32-paddinghorizontal {
background-image:url('./icons/32-paddinghorizontal.svg')
};
&--32-paddingvertical {
background-image:url('./icons/32-paddingvertical.svg')
};
&--32-spacinghorizontal {
background-image:url('./icons/32-spacinghorizontal.svg')
};
&--32-spacingvertical {
background-image:url('./icons/32-spacingvertical.svg')
};
&--32-animation-instant {
background-image:url('./icons/32-animation-instant.svg')
};
&--32-animation-dissolve {
background-image:url('./icons/32-animation-dissolve.svg')
};
&--32-animation-smart-animate {
background-image:url('./icons/32-animation-smart-animate.svg')
};
&--32-interaction-drag {
background-image:url('./icons/32-interaction-drag.svg')
};
&--32-interaction-click {
background-image:url('./icons/32-interaction-click.svg')
};
&--32-timing {
background-image:url('./icons/32-timing.svg')
};
&--32-swapwith {
background-image:url('./icons/32-swapwith.svg')
};
&--32-ease-in {
background-image:url('./icons/32-ease-in.svg')
};
&--32-ease-out {
background-image:url('./icons/32-ease-out.svg')
};
&--32-ease-in-out {
background-image:url('./icons/32-ease-in-out.svg')
};
&--32-linear {
background-image:url('./icons/32-linear.svg')
};
&--32-overlay {
background-image:url('./icons/32-overlay.svg')
};
&--32-overlay-centered {
background-image:url('./icons/32-overlay-centered.svg')
};
&--32-overlay-top-left {
background-image:url('./icons/32-overlay-top-left.svg')
};
&--32-overlay-bottom-center {
background-image:url('./icons/32-overlay-bottom-center.svg')
};
&--32-dropshadow-bottom {
background-image:url('./icons/32-dropshadow-bottom.svg')
};
&--32-dropshadow-right {
background-image:url('./icons/32-dropshadow-right.svg')
};
&--32-dropshadow-top {
background-image:url('./icons/32-dropshadow-top.svg')
};
&--32-dropshadow-left {
background-image:url('./icons/32-dropshadow-left.svg')
};
&--32-polygoncount {
background-image:url('./icons/32-polygoncount.svg')
};
&--32-starcount {
background-image:url('./icons/32-starcount.svg')
};
&--32-ratiousedforstar {
background-image:url('./icons/32-ratiousedforstar.svg')
};
&--32-innershadow-top {
background-image:url('./icons/32-innershadow-top.svg')
};
&--32-innershadow-topright {
background-image:url('./icons/32-innershadow-topright.svg')
};
&--32-innershadow-right {
background-image:url('./icons/32-innershadow-right.svg')
};
&--32-innershadow-bottomright {
background-image:url('./icons/32-innershadow-bottomright.svg')
};
&--32-innershadow-bottom {
background-image:url('./icons/32-innershadow-bottom.svg')
};
&--32-innershadow-bottomleft {
background-image:url('./icons/32-innershadow-bottomleft.svg')
};
&--32-innershadow-left {
background-image:url('./icons/32-innershadow-left.svg')
};
&--32-innershadow-topleft {
background-image:url('./icons/32-innershadow-topleft.svg')
};
&--16-caret-right {
background-image:url('./icons/16-caret-right.svg')
};
&--16-caret-down {
background-image:url('./icons/16-caret-down.svg')
};
&--16-visibleeyeopen {
background-image:url('./icons/16-visibleeyeopen.svg')
};
&--16-hiddeneyeclosed {
background-image:url('./icons/16-hiddeneyeclosed.svg')
};
&--16-caret-up {
background-image:url('./icons/16-caret-up.svg')
};
&--16-auto-layout-vertical-left {
background-image:url('./icons/16-auto-layout-vertical-left.svg')
};
&--16-auto-layout-vertical-center {
background-image:url('./icons/16-auto-layout-vertical-center.svg')
};
&--16-auto-layout-vertical-right {
background-image:url('./icons/16-auto-layout-vertical-right.svg')
};
&--16-type {
background-image:url('./icons/16-type.svg')
};
&--16-slice {
background-image:url('./icons/16-slice.svg')
};
&--16-menu-checkmark-on {
background-image:url('./icons/16-menu-checkmark-on.svg')
};
&--16-menu-checkmark-mixed {
background-image:url('./icons/16-menu-checkmark-mixed.svg')
};
&--16-menu-checkmark-breadcrumb {
background-image:url('./icons/16-menu-checkmark-breadcrumb.svg')
};
&--16-anchor-right-left {
background-image:url('./icons/16-anchor-right-left.svg')
};
&--16-anchor-up-down {
background-image:url('./icons/16-anchor-up-down.svg')
};
&--16-auto-layout-horizontal-top {
background-image:url('./icons/16-auto-layout-horizontal-top.svg')
};
&--16-auto-layout-horizontal-center {
background-image:url('./icons/16-auto-layout-horizontal-center.svg')
};
&--16-auto-layout-horizontal-bottom {
background-image:url('./icons/16-auto-layout-horizontal-bottom.svg')
};
&--16-component {
background-image:url('./icons/16-component.svg')
};
&--16-arrow-left {
background-image:url('./icons/16-arrow-left.svg')
};
&--16-arrow-right {
background-image:url('./icons/16-arrow-right.svg')
};
&--16-arrow-down {
background-image:url('./icons/16-arrow-down.svg')
};
&--16-arrow-up {
background-image:url('./icons/16-arrow-up.svg')
};
&--16-arrow-up-down {
background-image:url('./icons/16-arrow-up-down.svg')
};
&--16-instance {
background-image:url('./icons/16-instance.svg')
};
&--16-group {
background-image:url('./icons/16-group.svg')
};
&--16-arrow-left-right {
background-image:url('./icons/16-arrow-left-right.svg')
};
&--16-align-top {
background-image:url('./icons/16-align-top.svg')
};
&--16-align-vertical-center {
background-image:url('./icons/16-align-vertical-center.svg')
};
&--16-align-bottom {
background-image:url('./icons/16-align-bottom.svg')
};
&--16-upload {
background-image:url('./icons/16-upload.svg')
};
&--16-mask {
background-image:url('./icons/16-mask.svg')
};
&--16-text-align-left {
background-image:url('./icons/16-text-align-left.svg')
};
&--16-text-align-center {
background-image:url('./icons/16-text-align-center.svg')
};
&--16-text-align-right {
background-image:url('./icons/16-text-align-right.svg')
};
&--16-text-align-adjusted {
background-image:url('./icons/16-text-align-adjusted.svg')
};
&--16-text-resize-height {
background-image:url('./icons/16-text-resize-height.svg')
};
&--16-frame {
background-image:url('./icons/16-frame.svg')
};
&--16-scrollingframe-vertical {
background-image:url('./icons/16-scrollingframe-vertical.svg')
};
&--16-text-resize-fixed {
background-image:url('./icons/16-text-resize-fixed.svg')
};
&--16-overlay {
background-image:url('./icons/16-overlay.svg')
};
&--16-world {
background-image:url('./icons/16-world.svg')
};
&--16-star {
background-image:url('./icons/16-star.svg')
};
&--16-star-filled {
background-image:url('./icons/16-star-filled.svg')
};
&--16-scrollingframe-horizontal {
background-image:url('./icons/16-scrollingframe-horizontal.svg')
};
&--16-noodle {
background-image:url('./icons/16-noodle.svg')
};
&--16-hyperlinkalt {
background-image:url('./icons/16-hyperlinkalt.svg')
};
&--16-swaprefresh {
background-image:url('./icons/16-swaprefresh.svg')
};
&--16-lock-unlocked {
background-image:url('./icons/16-lock-unlocked.svg')
};
&--16-lock {
background-image:url('./icons/16-lock.svg')
};
&--16-scrollingframe-both {
background-image:url('./icons/16-scrollingframe-both.svg')
};
&--16-coverart {
background-image:url('./icons/16-coverart.svg')
};
&--16-orientation-portrait {
background-image:url('./icons/16-orientation-portrait.svg')
};
&--16-orientation-landscape {
background-image:url('./icons/16-orientation-landscape.svg')
};
&--16-text-decoration-underline {
background-image:url('./icons/16-text-decoration-underline.svg')
};
&--16-text-decoration-strikethrough {
background-image:url('./icons/16-text-decoration-strikethrough.svg')
};
&--16-warning {
background-image:url('./icons/16-warning.svg')
};
&--16-vector {
background-image:url('./icons/16-vector.svg')
};
&--16-text-transform-forced-small-caps {
background-image:url('./icons/16-text-transform-forced-small-caps.svg')
};
&--16-text-transform-small-caps {
background-image:url('./icons/16-text-transform-small-caps.svg')
};
&--16-text-transform-upper {
background-image:url('./icons/16-text-transform-upper.svg')
};
&--16-text-transform-lower {
background-image:url('./icons/16-text-transform-lower.svg')
};
&--16-text-transform-capitalize {
background-image:url('./icons/16-text-transform-capitalize.svg')
};
&--16-vector-animatedfill {
background-image:url('./icons/16-vector-animatedfill.svg')
};
&--16-vector-imagefill {
background-image:url('./icons/16-vector-imagefill.svg')
};
&--16-stroke-join-miter {
background-image:url('./icons/16-stroke-join-miter.svg')
};
&--16-stroke-join-bevel {
background-image:url('./icons/16-stroke-join-bevel.svg')
};
&--16-stroke-join-round {
background-image:url('./icons/16-stroke-join-round.svg')
};
&--16-option-strip-enabled {
background-image:url('./icons/16-option-strip-enabled.svg')
};
&--16-option-strip-disabled {
background-image:url('./icons/16-option-strip-disabled.svg')
};
&--16-auto-layoutvertical-left {
background-image:url('./icons/16-auto-layoutvertical-left.svg')
};
&--16-menu-chevron {
background-image:url('./icons/16-menu-chevron.svg')
};
&--16-hyperlink {
background-image:url('./icons/16-hyperlink.svg')
};
&--16-disclosurealt-caret {
background-image:url('./icons/16-disclosurealt-caret.svg')
};
&--16-target {
background-image:url('./icons/16-target.svg')
};
&--16-auto-layoutvertical-center {
background-image:url('./icons/16-auto-layoutvertical-center.svg')
};
&--16-auto-layoutvertical-right {
background-image:url('./icons/16-auto-layoutvertical-right.svg')
};
&--16-proportional-uppercase {
background-image:url('./icons/16-proportional-uppercase.svg')
};
&--16-monospace-uppercase {
background-image:url('./icons/16-monospace-uppercase.svg')
};
&--16-proportional-lowercase {
background-image:url('./icons/16-proportional-lowercase.svg')
};
&--16-monospace-lowercase {
background-image:url('./icons/16-monospace-lowercase.svg')
};
&--16-auto-layouthorizontal-top {
background-image:url('./icons/16-auto-layouthorizontal-top.svg')
};
&--16-position-subscript {
background-image:url('./icons/16-position-subscript.svg')
};
&--16-position-normal {
background-image:url('./icons/16-position-normal.svg')
};
&--16-position-superscript {
background-image:url('./icons/16-position-superscript.svg')
};
&--16-code {
background-image:url('./icons/16-code.svg')
};
&--16-table {
background-image:url('./icons/16-table.svg')
};
&--16-auto-layouthorizontal-center {
background-image:url('./icons/16-auto-layouthorizontal-center.svg')
};
&--16-auto-layouthorizontal-bottom {
background-image:url('./icons/16-auto-layouthorizontal-bottom.svg')
};
&--16-help {
background-image:url('./icons/16-help.svg')
};
&--16-overlay-centered {
background-image:url('./icons/16-overlay-centered.svg')
};
&--16-overlay-top-left {
background-image:url('./icons/16-overlay-top-left.svg')
};
&--16-overlay-bottom-center {
background-image:url('./icons/16-overlay-bottom-center.svg')
};
&--16-info {
background-image:url('./icons/16-info.svg')
};
&--40-toolbar-menu {
background-image:url('./icons/40-toolbar-menu.svg')
};
&--40-toolbar-move {
background-image:url('./icons/40-toolbar-move.svg')
};
&--40-toolbar-frame {
background-image:url('./icons/40-toolbar-frame.svg')
};
&--40-toolbar-rectanglesquare {
background-image:url('./icons/40-toolbar-rectanglesquare.svg')
};
&--40-toolbar-pen {
background-image:url('./icons/40-toolbar-pen.svg')
};
&--40-toolbar-typealt-text {
background-image:url('./icons/40-toolbar-typealt-text.svg')
};
&--40-toolbar-panhand {
background-image:url('./icons/40-toolbar-panhand.svg')
};
&--40-toolbar-comment {
background-image:url('./icons/40-toolbar-comment.svg')
};
&--40-toolbar-edit-vector {
background-image:url('./icons/40-toolbar-edit-vector.svg')
};
&--40-toolbar-comp-create {
background-image:url('./icons/40-toolbar-comp-create.svg')
};
&--40-toolbar-mask {
background-image:url('./icons/40-toolbar-mask.svg')
};
&--40-toolbar-boolean-union {
background-image:url('./icons/40-toolbar-boolean-union.svg')
};
&--40-toolbar-crop {
background-image:url('./icons/40-toolbar-crop.svg')
};
&--40-toolbar-link {
background-image:url('./icons/40-toolbar-link.svg')
};
&--40-toolbar-play {
background-image:url('./icons/40-toolbar-play.svg')
};
&--40-toolbar-font-issuesmissing {
background-image:url('./icons/40-toolbar-font-issuesmissing.svg')
};
&--40-toolbar-scale {
background-image:url('./icons/40-toolbar-scale.svg')
};
&--40-toolbar-slice {
background-image:url('./icons/40-toolbar-slice.svg')
};
&--40-toolbar-line {
background-image:url('./icons/40-toolbar-line.svg')
};
&--40-toolbar-pencil {
background-image:url('./icons/40-toolbar-pencil.svg')
};
&--40-toolbar-comp-reset {
background-image:url('./icons/40-toolbar-comp-reset.svg')
};
&--40-toolbar-boolean-subtract {
background-image:url('./icons/40-toolbar-boolean-subtract.svg')
};
&--40-cloudoffline {
background-image:url('./icons/40-cloudoffline.svg')
};
&--40-cloudsaving {
background-image:url('./icons/40-cloudsaving.svg')
};
&--40-toolbar-arrow {
background-image:url('./icons/40-toolbar-arrow.svg')
};
&--40-toolbar-boolean-intersect {
background-image:url('./icons/40-toolbar-boolean-intersect.svg')
};
&--40-toolbar-ovalcircle {
background-image:url('./icons/40-toolbar-ovalcircle.svg')
};
&--40-toolbar-boolean-exclude {
background-image:url('./icons/40-toolbar-boolean-exclude.svg')
};
&--40-toolbar-polygontriangle {
background-image:url('./icons/40-toolbar-polygontriangle.svg')
};
&--40-toolbar-flatten {
background-image:url('./icons/40-toolbar-flatten.svg')
};
&--40-toolbar-starfavorite {
background-image:url('./icons/40-toolbar-starfavorite.svg')
};
&--40-toolbar-image {
background-image:url('./icons/40-toolbar-image.svg')
};
&--40-toolbar-bend {
background-image:url('./icons/40-toolbar-bend.svg')
};
&--40-toolbar-paint {
background-image:url('./icons/40-toolbar-paint.svg')
};
&--40-toolbar-newplus {
background-image:url('./icons/40-toolbar-newplus.svg')
};
&--40-toolbar-import {
background-image:url('./icons/40-toolbar-import.svg')
};
&--40-toolbar-search {
background-image:url('./icons/40-toolbar-search.svg')
};
&--40-toolbar-favorite-off {
background-image:url('./icons/40-toolbar-favorite-off.svg')
};
&--40-toolbar-restore {
background-image:url('./icons/40-toolbar-restore.svg')
};
&--40-toolbar-favorite-on {
background-image:url('./icons/40-toolbar-favorite-on.svg')
};
&--64-play {
background-image:url('./icons/64-play.svg')
}
}